.container{

}

.sculpture{
    position: relative;
    z-index: 0;
}

.sculpture_orientation{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 25px;
    justify-content: center;
}

.sculpture__links{
    box-sizing: border-box;
    width: 183px;
    height: 300px;
    background-color: #F0F5FA;
    border-radius: 20px;
}

.sculpture__links-list{
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 39px 0 0 26px;
    list-style: none;
}

.sculpture__links-list-item-text{
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.68px;
    text-decoration: none;
}

.product-list {
    width: clamp(21.875rem, 3.9683rem + 76.4021vw, 67rem);
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #EBF3F9;
    border-radius: 25px;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 50px 0 30px;
}

.product-list-item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.product-list-item-info-title {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #8C8C8C;
    margin: 0;
}

.product-list-item-info-name {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: #0D0D0D;
    margin: 0;
    padding-bottom: 5px;
}

.product-list-item-info-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-list-item-info-details-time, .product-list-item-info-details-number {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #7BA3C1;
    margin: 0;
}

.product-list-item-button {
    width: 198px;
    height: 42px;
    border: none;
    border-radius: 20px;
    background-color: #FF0F16;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (width <= 600px) {
    .sculpture_orientation {
        flex-direction: column;
    }

    .product-list {
        margin: 0;
    }
}



